<header class="header">
  <div class="header__container">
    <div class="header__wrapper">
      <a href="/">
        <picture class="header__logo">
          <img src="assets/images/page_logo.png" alt="SMBS Logo" />
        </picture>
      </a>

      <nav class="header__menu">
        <ul class="header__menu--list">
          <li class="header__menu--item">ABOUT US</li>
          <li class="header__menu--item">SERVICES</li>
          <li class="header__menu--item">BLOG</li>
          <li class="header__menu--item">CAREERS</li>
        </ul>

        <app-button customStyles="px-6 py-2">
          <span class="header__button--text">SCHEDULE A CALL</span>
        </app-button>
      </nav>
    </div>
  </div>
</header>
