<article class="card" [class]="customClass">
  <div class="card__container">
    <div class="card__wrapper">
      @if (title || img) {
      <header class="card__head">
        @if (img) {
        <figure class="card__img">
          <img [src]="img" [alt]="title ? 'image ' + title : iconName" />
        </figure>
        } @if (title) {
        <h3 class="card__title">{{ title }}</h3>
        }
      </header>
      }

      <div class="card__body">
        @if (description) {
        <p class="card__body__description">{{ description }}</p>
        }

        <ng-content select="[body]"></ng-content>
      </div>

      <footer class="card__footer">
        @if (btnLabel) {
        <app-button [customStyles]="btnClasses">
          {{ btnLabel }}
        </app-button>
        }

        <ng-content select="[footer]"></ng-content>
      </footer>
    </div>
  </div>
</article>
