<section class="section" [class]="customClass">
  <div class="section__container">
    @if(title){
    <h2 class="section__title">{{ title }}</h2>
    }
    <div class="section__wrapper">
      @if (isMarquee) {
      <app-marquee [images]="images" />
      } 
      
      @if(isList) {
        <ul [class]="listStyles">
          @for (img of images; track $index) {
          <li>
            <picture>
              <img [src]="img.src" [alt]="'stack ' + img.name" />
            </picture>
          </li>
          }
        </ul>
      }

      <ng-content />
    </div>
  </div>
</section>
