<section class="section" [class]="customClass">
  <h2 class="section__title">{{ title }}</h2>

  @if (images && isMarquee){
  <!-- <div class="marquee">
    <ul class="marquee-content" [class]="customClass + '--list'">
      @for (img of images; track $index) {
      <li class="marquee-item">
        <picture class="w-28">
          <img [src]="img.src" [alt]="'stack ' + img.name" />
        </picture>
      </li>
      }
    </ul>
  </div> -->

  <div class="marquee">
    <div class="marquee-content">
      @for (item of images; track $index) {
      <div class="marquee-item">
        <img [src]="item.src" alt="" />
      </div>
      }
      <div class="ml-10"></div>
      @for (item of images; track $index) {
      <div class="marquee-item">
        <img [src]="item.src" alt="" />
      </div>
      }
    </div>
  </div>

  } @else {
  <ul [class]="customClass + '--list'">
    @for (img of images; track $index) {
    <li [class]="customClass + '--item'">
      <picture>
        <img [src]="img.src" [alt]="'stack ' + img.name" />
      </picture>
    </li>
    }
  </ul>
  }

  <ng-content />
</section>
