@import "@styles";

@layer components {
  .section {
    &__title {
      @apply text-primary text-[46px] font-bold uppercase mb-[25px] text-center;
      @apply lg:text-left;
    }

    &__stack {
      &--list {
        @apply flex items-center justify-evenly gap-x-[45px] gap-y-10 flex-wrap px-12;
        @apply lg:px-10;
      }
    }

    &__client {
      &--list {
        @apply flex items-center justify-center gap-x-[45px] gap-y-10 flex-wrap;
        @apply lg:flex-nowrap lg:justify-start;
      }
    }
  }
}

.marquee {
  overflow: hidden;

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scrolling 10s linear infinite;
  }

  &-item {
    flex: 0 0 14vw;
    margin: 0 1vw;

    picture {
      display: block;
      width: 100%;
    }

    &--duplicate {
      display: none;
    }
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0vw);
  }
  100% {
    // transform: translatex(-164.8vw);
    transform: translatex(-146.4vw);
  }
}
