<header class="bg-header px-32 py-20 flex justify-start items-start gap-x-32">
  <div class="text-white max-w-[670px]">
    <h1 class="text-[50px] mb-10 w-full leading-[60px] font-bold">
      Boost your Software team with LATAM talent.
    </h1>
    <p class="text-3xl mb-10">Staff augmentation made easy.</p>

    <p class="text-lg mb-10">
      Whether you need one developer or an entire team, we have the expertise to
      find the right fit for your project. Plus, with our flexible engagement
      models, you can choose the level of support that works best for your
      needs.
    </p>

    <div class="flex items-center gap-x-14">
      <app-button class="" customClass="px-16 font-bold py-[14px]">
        Get in Touch
      </app-button>
      <picture>
        <img src="assets/images/img-header.png" alt="Clutch Image" />
      </picture>
    </div>
  </div>

  <div>
    <app-card-dev
      avatar="assets/images/card_dev_01.png"
      name="John Doe"
      proffesion="Front end developer"
      description="Software Engineer with over 6 years of experience in Web development. I enjoy practicing photography."
      [skills]="['JavaScript', 'ReactJs', 'HTML', 'CSS']"
    ></app-card-dev>
  </div>
</header>
