<section class="hero hero--bg">
  <div class="hero__container">
    <div class="hero__wrapper">
      <div class="hero__info">
        <h2 class="hero__title">{{ title }}</h2>

        <h3 class="hero__subtitle">{{ subtitle }}</h3>

        <p class="hero__description">
          {{ description }}
        </p>

        @if (btnLabel) {
        <div class="hero__intouch">
          <app-button [customStyles]="btnClasses"> {{ btnLabel }}</app-button>

          @if (btnImg) {
          <picture>
            <img [src]="btnImg" alt="image" />
          </picture>
          }
        </div>
        }
      </div>

      <!-- THIS CONTENT WILL BE DISPLAYED IN THE RIGHT SIDE OF THE HERO COMPONENT -->
      <ng-content />
    </div>
  </div>
</section>
