<nav class="flex items-center justify-between py-3 px-32">
  <a href="/">
    <picture class="h-[51px] w-52 inline-block"
      ><img src="assets/images/page_logo.png" alt=""
    /></picture>
  </a>

  <div class="flex gap-x-14">
    <ul class="flex items-center gap-x-14">
      <li class="font-semibold">ABOUT US</li>
      <li class="font-semibold">SERVICES</li>
      <li class="font-semibold">BLOG</li>
      <li class="font-semibold leading-6">CAREERS</li>
    </ul>

    <app-button> Some Text </app-button>
  </div>
</nav>
