.marquee {
  overflow: hidden;
  width: 100%;

  &-content {
    animation: scrolling 12s linear infinite;
    display: flex;
    gap: 55px;
  }

  &-item {
    display: flex;
    flex: 0 0 18rem;

    img {
      display: block;
      object-fit: scale-down;
      width: 100%;
    }
  }
}

// @media (width >= 1400px) {
@keyframes scrolling {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translatex(-132%);
  }
}
// }

// @media (1300px <= width <= 1399px) {
//   @keyframes scrolling {
//     0% {
//       transform: translateX(0%);
//     }
//     100% {
//       transform: translatex(-125.5%);
//     }
//   }
// }
