.marquee {
  overflow: hidden;

  &-content {
    display: flex;
    animation: scrolling 12s linear infinite;
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 10rem;
    margin: 0 1vw;

    picture {
      display: block;
      width: 100%;
    }

    &--duplicate {
      display: none;
    }
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translatex(-146.4vw);
  }
}
