<app-hero
  [title]="hero.title!"
  [subtitle]="hero.subtitle!"
  [description]="hero.description!"
  btnLabel="Get in Touch"
  btnImg="assets/images/img-header.png"
  btnClasses="px-10 font-bold py-[14px]"
>
  <div class="hero__card">
    <app-card-dev
      avatar="assets/images/card_dev_01.png"
      name="John Doe"
      proffesion="Front end developer"
      description="Software Engineer with over 6 years of experience in Web development. I enjoy practicing photography."
      [skills]="['JavaScript', 'ReactJs', 'HTML', 'CSS']"
    />
  </div>
</app-hero>

<div class="content">
  <div class="content__container">
    <div class="content__wrapper">
      <app-info-section
        customClass="section__stack"
        title="Our Stack"
        [images]="stackImages"
        isMarquee
      >
      </app-info-section>

      <app-info-section customClass="section__services" title="Services">
        <div class="section__services__description">
          <div class="section__services__description--text">
            <p>Empower your business with our software development services.</p>

            <span>
              Our expert team delivers solutions tailored to your needs, on time
              and on budget.
            </span>
          </div>

          <picture class="section__services__picture">
            <img src="assets/images/services_image.png" alt="" />
          </picture>
        </div>

        <div class="section__services__articles">
          <app-card
            img="assets/images/service_1_icon.png"
            title="Staff Augmentation"
            btnLabel="Learn more"
            btnClasses="bg-blue-dark normal-case rounded-xl py-3 px-12"
            customClass="section__services__articles__item"
          >
            <p body class="section__services__articles__item--text">
              Our expert team delivers solutions tailored to your needs, on time
              Our skilled engineers work with your team for a smooth workflow,
              faster time-to-market, and exceptional results. With our staff
              augmentation service, access top talent hassle-free, expanding
              your team and growing your business with our proven success. and
              on budget.
            </p>
          </app-card>

          <app-card
            img="assets/images/service_2_icon.png"
            title="Staff Augmentation"
            btnLabel="Learn more"
            btnClasses="bg-blue-dark normal-case rounded-xl py-3 px-12"
            customClass="section__services__articles__item"
          >
            <p body class="section__services__articles__item--text">
              Get efficient software development with our Dedicated Teams
              service. Our experienced team ensures timely delivery, quality
              control, and seamless communication, allowing you to focus on your
              core business.
            </p>
          </app-card>
        </div>
      </app-info-section>

      <app-info-section
        customClass="section__client"
        title="Clients"
        [images]="clientsImages"
        [listStyles]="clientListStyles"
      >
      </app-info-section>

      <app-info-section
        customClass="section__model"
        title="let us handle the rest"
      >
        <div class="section__model__wrapper">
          <div class="section__model__description">
            <h5>
              Our model is specifically crafted to simplify your life, so you
              can focus solely on developing your software product.
            </h5>

            <p>
              We take care of everything else, ensuring that your team has the
              necessary support and resources to successfully complete your
              projects. With us as your partner, you can rest easy knowing that
              we’ve got your back and are committed to helping you achieve your
              business goals.
            </p>
          </div>

          <div class="section__model__phases">
            <p class="section__model__phases--text">
              When you hire our staff augmentation service, we take on a range
              of responsibilities, including:
            </p>

            <ul class="section__model__phases__list">
              @for (item of ourModelList; track $index) {
              <li class="section__model__phases__list--item">
                <img
                  class="w-6 h-6"
                  [src]="item.icon"
                  [alt]="iconName(item.icon)"
                />
                <span class="section__model__phases__list--text">{{
                  item.text
                }}</span>
              </li>
              }
            </ul>
          </div>

          <p class="section__model--text">
            By ensuring that your staff augmentation service provider is
            responsible for these key areas, you can rest assured that you are
            getting the best possible value for your investment, and that you
            are well-positioned to achieve your business goals.
          </p>
        </div>
      </app-info-section>

      <app-info-section
        customClass="section__skillset"
        title="TEST THE SKILLSET FIRST, THEN HIRE"
      >
        <div class="section__skillset__wrapper">
          <div class="section__skillset__description">
            <p>
              Our success rate for converting trials into hires stands at an
              impressive 98%
            </p>
          </div>
          <ul class="section__skillset__list">
            @for (item of skillsetList; track $index) {
            <li class="section__skillset__list--item">
              <app-card
                [img]="item.icon"
                [description]="item.text"
                customClass="section__skillset__card"
              />
            </li>
            }
          </ul>
        </div>
      </app-info-section>

      <app-info-section customClass="section__reviews relative" title="Reviews">
        <div class="section__reviews__container">
          <div class="section__reviews__wrapper">
            <div class="section__reviews__description">
              <p>Insights and Ideas</p>
              <span
                >We take care of everything else, ensuring that your team has
                the necessary support and resources to successfully complete
                your projects.</span
              >
            </div>

            <app-carousel
              [cards]="reviewsList"
              forReviewsList
              [owlOptions]="owlOptions"
            />
          </div>
        </div>
      </app-info-section>
    </div>
  </div>
</div>
