<article class="card-dev card-dev--bg">
  <div class="text-white flex flex-col items-center">
    <div class="w-full flex flex-col items-center gap-y-5">
      <picture class="">
        <img [src]="avatar" [alt]="'dev' + avatar" />
      </picture>

      <h3 class="text-center text-gray-400 text-xl mb-6">
        {{ name }}
        <span class="block text-white font-bold text-base mt-1">{{
          proffesion
        }}</span>
      </h3>
    </div>

    <p
      class="text-center font-normal pb-6 border-b-[1px] border-white/20 text-base"
    >
      {{ description }}
    </p>

    <app-button
      class="my-6"
      customClass="bg-transparent border border-white px-6 pt-2 pb-1 rounded-[10px] font-bold normal-case"
    >
      Engage
    </app-button>

    <div class="w-full">
      <h4 class="uppercase mb-6">Skills:</h4>

      {{ techSkills(skills) }}
    </div>
  </div>
</article>
